@page "/extras"
@using GoodHamburguer.Models
@using System.Linq
@using Microsoft.EntityFrameworkCore
@inject GoodHamburguer.Data.MenuContext DB
@inject OrderService OrderService

<PageTitle>Extras</PageTitle>

<h3 class="text-center" style=" font-family: 'BiteChalk' ; font-size: 64px;">Extras</h3>

@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="alert alert-danger">@errorMessage</div>
}

<div class="row">
    @if (dishes == null)
    {
        <p>Dishes are Loading...</p>
    }
    else
    {
        @foreach (var item in dishes)
        {
            <DishCard Dish="item" OnAddToCart="AddToCart" />
        }
    }
</div>

@code {
    private List<Dish>? dishes;
    private string? errorMessage;

    protected override async Task OnInitializedAsync()
    {
        var type1 = await DB.Dishes
            .Where(d => EF.Property<int>(d, "Type") == 1)
            .ToListAsync();

        var type2 = await DB.Dishes
            .Where(d => EF.Property<int>(d, "Type") == 2)
            .ToListAsync();

        dishes = type1.Concat(type2).ToList();
    }

    private void AddToCart(Dish dish)
    {
        try
        {
            OrderService.AddDish(dish);
            errorMessage = null;
        }
        catch (Exception ex)
        {
            errorMessage = ex.Message;
        }
    }
}
