@page "/"
@using GoodHamburguer.Models
@using Microsoft.EntityFrameworkCore
@inject GoodHamburguer.Data.MenuContext DB
@using GoodHamburguer.Shared

<PageTitle>Home</PageTitle>

<h1 class="container text-center" style="font-family: 'BiteChalk'; font-size: 100px;"> Good Hamburger </h1>

<h2 class="container text-center" style="font-family: 'BiteChalk'; font-size: 35px"> MENU </h2>
<div class="container">
    <div class="row">
        @if (dishes == null)
        {
            <p>Dishes are Loading...</p>
        }
        else
        {
            @foreach (var dish in dishes)
            {
                <DishCard Dish="dish" OnAddToCart="AddItemToCart" />
            }
        }
    </div>
</div>

<hr />

<h3 style="font-family: 'BiteChalk'; font-size: 30px">Cart</h3>
<p >@message</p>

@if (cartItems.Count == 0)
{
    <p style="font-family: 'Prompt'">You don't have any items in your cart yet!</p>
}
else
{
    <ul>
        @foreach (var item in cartItems)
        {
            <li>@item.Name — $ @item.Price.ToString("N2")</li>
        }
    </ul>
}

@code {
    private List<Dish>? dishes;
    private List<Dish> cartItems = new();
    private string message = "";

    protected override async Task OnInitializedAsync()
    {
        dishes = await DB.Dishes.ToListAsync();
    }

    private void AddItemToCart(Dish dish)
    {
        cartItems.Add(dish);
        message = "EVENT RECEIVED!";
    }


}
