@page "/"
@using GoodHamburguer.Models
@using Microsoft.EntityFrameworkCore
@inject GoodHamburguer.Data.MenuContext DB

<PageTitle>Home</PageTitle>

<h1 class="container bg-gra"> Good Hamburguer </h1>

<div class="container">
    <div class="row">
        @if (dishes == null)
        {
            <p> Dishes are Loading... </p>
        }
        else
        {
            @foreach (var dish in dishes)
            {
                <DishCard Dish="dish"></DishCard>
            }
        }
    </div>
</div>


@code{
    private List<Dish>? dishes;

    protected override async Task OnInitializedAsync()
    {
        dishes = await DB.Dishes.ToListAsync();
    }

}